<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam accusamus quo, explicabo quibusdam praesentium ratione facere neque maxime. Eos vero magnam officia possimus aperiam cum voluptate adipisci libero enim animi!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="text-center col-md-12">
        <h2>Latest Posts</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime atque, quod minus asperiores labore, sapiente, consequatur voluptate quis ut fugit nesciunt corporis deserunt hic veniam ipsum enim obcaecati eveniet.</p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        
    </div>
       
</section>