<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/14717335/pexels-photo-14717335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top img-fluid" alt="">

                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Design</small>
                    <small class="bg-light text-info text-center ml-2">Design</small>
                    <small class="bg-light text-warning text-center ml-2">Design</small>
                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima mollitia, reprehenderit quia nihil eum hic incidunt non, sint nulla asperiores rem sit corrupti temporibus accusantium officia. Asperiores, incidunt autem! Atque?
                    Ratione amet sit commodi aspernatur illo neque perspiciatis dolores maiores nobis labore explicabo accusantium repellat, voluptatibus molestiae perferendis? Ipsam ratione a dolor ea voluptates nihil facilis et repellendus unde consectetur!
                    Assumenda dicta dolorum atque libero quae iste, architecto ex reiciendis optio laborum quod expedita? Voluptatum sed aperiam dolore, molestiae aliquam obcaecati veritatis quis quos vel, nihil, recusandae incidunt ducimus. Magnam.
                    Rerum expedita velit culpa est id asperiores aspernatur molestiae maiores dignissimos praesentium tempore suscipit rem ab repudiandae vero doloribus nemo provident obcaecati ipsam vitae, voluptates reprehenderit amet? Voluptatum, eveniet impedit.
                    Iste, eligendi voluptatum nihil expedita libero magnam dolorum exercitationem corrupti adipisci ex atque ratione officia minima itaque unde at harum a voluptates cupiditate! Consequuntur natus eius dolore minima quasi necessitatibus.
                    Explicabo corrupti soluta error sunt at distinctio quasi itaque dolor alias cum accusantium, ex minima quod eaque quaerat assumenda cupiditate recusandae inventore deserunt! Explicabo doloremque quisquam, fugiat deleniti adipisci voluptatem!
                    Beatae obcaecati incidunt optio quos excepturi voluptatibus, repellendus ipsa? Maiores beatae ea accusantium hic, nisi blanditiis! Fugit cumque commodi cupiditate praesentium nisi pariatur odit dolorem, ipsa hic fugiat incidunt expedita.
                    Eius, explicabo vel! Natus corrupti ex perspiciatis cupiditate amet aspernatur deleniti neque fugiat, quos aut eligendi corporis itaque. Molestias ipsa voluptate modi. Reprehenderit nobis unde eum atque officiis laudantium repellendus.
                    Officiis exercitationem inventore expedita dolore ex. Architecto explicabo minima commodi, voluptatibus harum vitae rerum cum voluptates. Nulla asperiores tempore, minima velit quo doloribus magnam, quos amet accusantium repudiandae ratione minus?
                    Non quasi animi quo obcaecati autem dolorem quas sapiente quis praesentium labore. Explicabo temporibus corporis quasi eum veritatis, est, cumque quod vel tempore quas ullam ipsam id amet labore eaque!</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>