<div class="card shadow-effect" *ngIf="post" [routerLink]="['/post', post?.id]">
    <img [src]="post?.data?.postImgPath" alt="post-img" class="card-img-top">
    <div class="card-body">
        <div class="d-flex justify-content-start gap-3">
            <small class="bg-light text-danger text-center">{{ post?.data?.category?.category }}</small>
            <small class="bg-light text-success text-center ml-3" *ngIf="post?.data?.isFeatured">Featured</small>
            <small class="bg-light text-info text-center ml-3">Views - {{ post?.data?.views  }}</small>
        </div>
        <h5 class="mt-1">
            {{post?.data?.title}}
        </h5>
        <p>{{ post?.data?.excerpt }}</p>
    <small class="bg-light text-warning text-center ml-3">LAST UPDATED - {{post?.data?.createdAt.toMillis() | date}} </small>
    </div>
</div>
